:root{
    --background_color_one: #364958;
    --background_color_two: #FFFFFF;
}

*{
    box-sizing: border-box;
}


html, body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

#park_logo{
    position: absolute;
    width: 276px;
    height: 53px;
    left: 140px;
    top: 58px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Muli','Arial', Helvetica, sans-serif;
    background: var(--background_color_one);
   
}

.park_header{
    
    width: 100%;    
}

.container-fluid{
    margin: 0 !important;
    padding:0 !important;
   
}



.packapp_scan{
    color: var(--background_color_two);
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
}


#email{
    background: #F6F6F6;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 100px;
    width: 405px;
    height: 50px;
    text-align: start;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #BDBDBD;  
   
}

#notify{
   
    width: 154px;
    height: 52px;
    background: #87BBA2;
    border-radius: 100px; 
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;   
    flex: none;
    align-self: center;
    margin-top: 10px !important;
    margin-bottom: 15px !important;        
}

#email_form {
    margin-top: -280px !important ;
    
}

.section1{
    background: var(--background_color_two);
    margin-top: 100px;
    width: 100%;
   margin-right: left;
    padding: 0 auto;
    
    
}

.countdown {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -70px;
    margin-left: 100px;
    
}

.countdown div {
    
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    padding: 20px; 
    margin: 2px;
    color: #FFFFFF;   
}


.countdown span{
    display:block;
    width: 34px;
    height: 18px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.launching{
    width: 188px;
    height: 35px;
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    margin-left: 100px;
}

#tiltphone{
    margin: 100px;
    margin-left:-20px;
}

.pwm{    
    font-size: 30px;
    color: var(--background_color_two);
    
}

.sub_head{
    margin-top:250px;
  
}


.intro{
    color: var(--background_color_two);
    font-size: 44px;
    line-height: 55px;
    font-style: normal;
}

.lugg_scan{
    color: var(--background_color_two);
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;    
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;  
    color: #000000;
    padding: 10px;
}

.sub_title{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
   
    color: #000000;
}



.shake-br {
	-webkit-animation: shake-br 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-br 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes shake-br {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-br {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  
@media (max-width:650px) {
    #head_logo {
        width: 70%; 
        margin-bottom: 20px;    
    }

    .launching {
        font-size: 25px;
        padding-bottom: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }



    .countdown {
        font-size: 30px;
        justify-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .countdown div {
        
        
        color: red; 
         
    } 

    .countdown span{
        color: black;
    }

    .sub_head {
        margin-top: -70px;
        margin-bottom: 40px;
    }
}

@media (max-width:990px) {
    .sub_head {
        margin-top: -30px;
        margin-bottom: 40px;
    }
}




