:root{
    --background_color_one: #364958;
    --background_color_two: #FFFFFF;
}

*{
    box-sizing: border-box;
}


html, body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}




body{
    margin: 0;
    padding: 0;
    font-family: 'Muli','Arial', Helvetica, sans-serif;
    background: var(--background_color_two);
   
}

#pack_logo {
    margin-bottom:5px;
    margin-top:70px;
    margin-left: 100px;
}

.wrapper {
    background: var(--background_color_one);
}
.park_header{
    
    width: 100%;    
}

.container-fluid{
    margin: 0 !important;
    padding:0 !important;
   
}



.packapp_scan{
    color: var(--background_color_two);
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
}


#email{
    background: #F6F6F6;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 100px;
    width: 405px;
    height: 50px;
    text-align: start;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #BDBDBD;  
   
}

#notify{
   
    width: 154px;
    height: 52px;
    background: #87BBA2;
    border-radius: 100px; 
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;   
    flex: none;
    align-self: center;
    margin-top: 10px !important;
    margin-bottom: 15px !important;        
}

#email_form {
    margin-top: -280px !important ;
    
}

.section1{
    background: var(--background_color_two);
    margin-top: 100px;
    width: 100%;
   margin-right: left;
    padding: 0 auto;
    
    
}

.section3{
    background: var(--background_color_two);
    margin-top: 30px !important;
    width: 100%;
   margin-right: left;
    padding: 0 auto;
    margin-bottom: 100px;
    
    
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section4{

    margin-top: 30px !important;
    width: 100%;
    margin-right: left;
    padding: 0 auto; 
    
    text-align: center;
    color: white; 
    background: rgba(85, 130, 139, 0.8);      
}

.soon_launch{
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 55px;
    
    color: #000000;
    margin-bottom: -400px;
}

.sub {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    
    color: #000000;
}

.countdown {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -70px;
    margin-left: 100px; 
}

.countdown div:first-child{
    background: #87BBA2;
}

.countdown div {
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    padding: 20px; 
    margin: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    opacity:0.7;
    color: #FFFFFF;   
}


.countdown span{
    display:block;
    width: 34px;
    height: 18px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.launching{
    width: 188px;
    height: 35px;
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    margin-left: 70px;
    margin-bottom: 30px;
}

#tiltphone{
    margin: 100px;
    margin-left:-20px;
}



.sub_head{
    margin-top:150px;
    margin-left:100px;
  
}

.details {
    padding: 50px;
    margin:50px;
}

.intro{
    color: var(--background_color_two);
    font-size: 44px;
    line-height: 55px;
    font-style: normal;
}

.lugg_scan{
    color: var(--background_color_two);
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;    
}

.main-carousel {
   margin-bottom: 200px;
   
}
  
.carousel-cell {
width: 35%;
margin-right: 5px;
}


.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;  
    color: #000000;
    padding: 10px;
}

.sub_title{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
   
    color: #000000;
}

.section2{
    background: var(--background_color_two) !important;
    width: 100%;
    padding: 0 auto;
   }

#screenshots {
    text-align:center;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 55px;    
    color: #000000;
}

.more_screens {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    padding-right:10px;   
}

#straight_phone {
    height: 600px; 
    width:600px;
    margin-top:-100px;
    margin-left:-100px;
}


.shake-br {
	-webkit-animation: shake-br 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-br 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes shake-br {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-br {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
}
  
@media (max-width:650px) {
    #pack_logo{
        display: block;
        padding: 20px;
        margin:0 auto auto ;
       
        
    }

    .launching {
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        display: block;
        padding: -50px; 
    }



    .countdown {
        font-size: 30px;
        justify-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .countdown div {
        display:none;
    } 

    .countdown div:first-child{
        display:block;
        width: 80%;
        padding: 10px;
        margin-top:50px;
        margin-right:100px;
    }

   
}



@media (max-width:765px) {
    #travel_icon {
        display: none;
    }

    #launch_soon{
        margin-left:50px;
        margin-right: 50px;
    }

    .soon_launch{
        font-size: 30px;
    }

    .sub{
        padding-right: 50px;
    }
}

@media (max-width:1120px) {
    .carousel-cell{
        width: 40% !important;
    }
}

@media (max-width:840px) {
    .carousel-cell{
        width: 40% !important;
    }
}

@media (max-width:700px) {
    .carousel-cell{
        width: 50% !important;
    }
}

@media (max-width:600px) {
    .carousel-cell{
        width: 100% !important;
    }
}

@media (max-width:650px) {
    #park_logo {
        width: 70%;
    }

    .launching{
        font
    }
}

@media (max-width:990px) {
    .sub_head{
        margin-bottom: 100px;

    }

    .details {
        display: block;
        padding: 20px;
        margin:0 auto auto ;
        margin-bottom: 50px;
    }

    #straight_phone{
        margin-top: 100px;
        display: block;
        padding: 20px;
        margin:0 auto auto ;
    }
}
